.modal-main-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: rgba(50, 50, 50, 0.65);
}

.modal-container {
  width: 350px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 25px rgb(0, 0, 0, 0.75);
  font-weight: 700;
}

.modal-txt {
  flex: auto;
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

.modal-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.modal-reset-btn {
  background-color: #e9564a;
  color: white;
  padding: 0px 15px;
  border-radius: 8px;
  font-size: 1rem;
}

.modal-close-btn {
  background-color: #90ee90;
  color: black;
  padding: 0px 15px;
  border-radius: 8px;
  font-size: 1rem;
}
