html {
  background-color: black;
  color: white;
}

body {
  width: 200px;
  padding: 5px 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scroll-label {
  font-size: 1rem;
}
